<!doctype html>
<html>
    <body>
        <h1>Signup</h1>

        <form method='post'>
            <label>
                <p>
                    Username    
                    <input type="text" name='username' />
                </p>
                <p>
                    Password
                    <input type="text" name='password' />
                </p>
                <p>
                    Verify Password
                    <input type="text" name='verify_password' />
                </p>
                <p>
                    Email (optional)
                    <input type="text" name='email' />
                </p>
            </label>
            <input type="submit" value='Submit Query' />
        </form>
    


    </body>
</html>    